<div class="search-demo"
     data-aue-resource="${resource.path}"
     data-aue-type="reference"
     data-aue-label="Search Panel">
  <div>
    <div data-aue-prop="label"
         data-aue-type="text"
         data-aue-label="Search label">${properties.label}</div>
    <div data-aue-prop="placeholder"
         data-aue-type="text"
         data-aue-label="Input placeholder">${properties.placeholder}</div>
    <div data-aue-prop="buttonLabel"
         data-aue-type="text"
         data-aue-label="Button label">${properties.buttonLabel}</div>
    <div data-aue-prop="helperText"
         data-aue-type="richtext"
         data-aue-label="Helper text">${properties.helperText @ context='html'}</div>
  </div>
</div>
